:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --light-bg: #aeaeb0;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    --text: #141C1F;
    --accent: #00C8FF;
    --stroke:#74A2B2;
    --scroll-track: #E2EEF1;
    --scroll-thumb: #5ED3F3;


    --success:#6CD98B;
    --error:#D95757;
}
